<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="/app">Bookmarks</a>
  <p>
    <b>Sortieren:</b> Erstllungsdatum <a href="?sort=-createdAt">▲</a><a href="?sort=createdAt">▼</a> | Name <a href="?sort=-name">▲</a><a href="?sort=name">▼</a>
  </p>
  <form>
    <input type="text" name="name">
    <input type="hidden" name="action" value="create">
    <button type="submit">Erstellen</button>
  </form>
  <table>
    {{range $i, $a := .Categorys}}
    <tr>
      <td><a href="{{$a.Name}}" target="_blank">{{$a.Name}}</a></td>
      <td><a href="?action=remove&id={{$a.ID.Hex}}">X</a></td>
    </tr>
    {{end}}
  </table>
</body>
</html>