<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/style.css">
  <title>{{.Title}}</title>
</head>
<body>
  <form class="container login" method="post">
    {{if .RegisterUserResponse.Success}}<p class="alert alert-success">{{.RegisterUserResponse.Success}}</p>{{end}}
    {{if .RegisterUserResponse.Err}}<p class="alert alert-err">{{.RegisterUserResponse.Err}}</p>{{end}}
    <input type="text" name="username" class="mt-1" placeholder="Benutzername">
    <input type="password" name="password" class="mt-1" placeholder="Passwort">
    <button type="submit" class="btn block mt-1">Registrieren</button>
    <a href="/login" class="mt-1">Anmelden</a>
  </form>
</body>
</html>